doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 6 - Movie Scores
    link(rel='stylesheet', href='./css/d-06.css')
  body
    h1 Drill 6 - Movie Scores

    input#number(type='text' placeholder='Number of Movies')
    input#score(type='text' placeholder='Score')
    button#get Get

    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/d-06.js')
