doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 7 - Critics Vs Audience
    link(rel='stylesheet', href='./css/d-07.css')
  body
    h1 Drill 7 - Critics Vs Audience

    input#number
    button#compare Compare

    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='http://www.amcharts.com/lib/3/amcharts.js')
    script(src='http://www.amcharts.com/lib/3/serial.js')
    script(src='http://www.amcharts.com/lib/3/themes/none.js')
    script(src='./js/es6/d-07.js')
